extends layout

block content
    //- h1= title
    //- p Welcome to #{title}


    body
        canvas#gameCanvas
        script(src="#{URLs.socketURL}/socket.io/socket.io.js")
        script(src="javascripts/requestAnimationFrame.js")
        script(src="javascripts/Keys.js")
        script(src="javascripts/Player.js")
        script(src="javascripts/game.js")

        script(type='text/javascript').
            init()
            animate()
