extends layout

block content

    body
        canvas#gameCanvas

        script(src="#{URLs.socketURL}/socket.io/socket.io.js")
        script(src="javascripts/requestAnimationFrame.js")
        script(src="javascripts/Keys.js")
        script(src="javascripts/Player.js")
        script(src="javascripts/paper-full.min.js")
        //- script(src="javascripts/paperGame.js" type="text/paperscript" canvas="gameCanvas")
        script(src="javascripts/game.js")

        script(type='text/javascript').
            init()
